/* -------------------------------
  IMPORT FONTS
---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------
   CSS VARIABLES
---------------------------------- */
:root {
  --primary-color: #1565C0 ; /* Deeper blue */
  --secondary-color: #1E88E5 ; /* Bright Sky Blue */
  --success-color: #4CAF50;  /* Pigment Green */
 /* --success-color: #388E3C; /* Pigment Green */
  --attention-color: #FFC107; /* Amber */
  /* --danger-color: #F44336;  Vermillion */
   --danger-color: #D32F2F;
  --background-color: #F5F5F5; /* White Smoke */
  --text-color: #212121;  /* Eerie Black */
  --primary-font: "Inter", serif;
  --secondary-font: "Roboto", serif;
}

/* -------------------------------
   GENERAL STYLING
---------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

p {
  margin:0;
  font-size: medium;
}
main {flex: 1;}
/* -------------------------------
   HEADINGS
---------------------------------- */

h1, h2 {
  margin: 0;
  font-family: var(--secondary-font);
  letter-spacing: 0;
}

 h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}


/* -------------------------------
   LINK STYLING
---------------------------------- */
a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color); 
  transition: all 0.3s ease;
}

/*Active State*/
a:active {
  color: var(--success-color); 
  border-bottom: 2px solid var(--success-color);
}

/*Hover State*/
a:hover {
  color: var(--secondary-color); 
  border-bottom: 2px solid var(--secondary-color); 
}

/*Focus State*/
a:focus-visible {
  outline: 3px dashed var(--attention-color); 
  outline-offset: 3px; 
}


/* -------------------------------
   BUTTONS
---------------------------------- */

button {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color); 
}

.btn-danger {
  color: white;
  background-color: var(--danger-color); 
}

/* Hover States */

button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}


.btn-primary:hover {
  background-color: var(--secondary-color);
}


/* Focus States */

button:focus-visible, .btn-primary:focus-visible {
  outline: 3px dashed var(--attention-color);  
  outline-offset: 3px; 
  transform: translateY(-2px); 
}
button:focus, .btn-primary:focus {
  transform: translateY(-2px); 
}


.btn-round {
  border-radius: 50%;
  font-size: smaller;
}
.btn-primary:focus {
  background-color: var(--secondary-color);
}

/* Active States */

button:active{
  transform: scale(0.98);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.btn-primary:active {
  background-color: var(--success-color);
}

/* Disabled States */

.btn-primary:disabled {
  background-color: #BDBDBD; 
  color: #FFFFFF; 
  cursor: not-allowed; 
  box-shadow: none; 
  opacity: 0.6; 
}


/* -------------------------------
   UTILITY CLASSES
---------------------------------- */

.hidden {
  display: none;
}

.sr-only {
  /* Accessible Invisible Content (WEBAIM) */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* -------------------------------
NAVIGATION
---------------------------------- */
nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  height: 60px;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-family: var(--secondary-font);
}

nav .navbar-branding {
  font-size: 130%;
  margin-left: 10px;
  font-weight: bold;
  display: none;
  letter-spacing: 0.1em;
}

nav .logo-image {
  height: 32px;
  width: auto;
  float: left;
}

/* Hide the checkbox */
#nav-toggle {
  display: none;
}

#nav-toggle-label i{
  font-size: 2rem;
  cursor: pointer;
}

#nav-toggle-label {
  margin-right: 10px;
}

/* Show menu when the checkbox is checked */
#nav-toggle:checked ~ .nav-menu-list {
  display: block;
}

nav ul {
  padding-left: 15px;
}

.nav-menu-list {
  display: none;
  list-style-type: none;
  font-size: 120%;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 20px 20px -15px rgba(0, 0, 0, 0.2);
}

.nav-menu-list > li {
  margin: 1rem 0;
}


/* Nav Links */
nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 15px;
}

nav a.active {
  color: var(--primary-color);
}

nav a:hover, nav a.active:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color); 
}

/* -------------------------------
FOOTER
---------------------------------- */
footer  {
  text-align: center;
  padding: 2rem 0;
  position: relative;

}


/* -------------------------------
TASKS HEADING
---------------------------------- */


#task-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
}


#progress-container {
  flex: 1;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 15px;
}

#progress-bar {
  width: 0%; 
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease-in-out;
}
/* -------------------------------
   EMPTY STATE
---------------------------------- */
.empty-message {
  color: var(--primary-color);
  font-size: large;
  text-align: center;
  margin: 25% auto;
  width: 80%;
  max-width: 400px;
}
/* -------------------------------
TASKS CARD
---------------------------------- */



.task-card {
  background-color: #22272B;
  color: var(--background-color);
  font-size: medium;
  padding:  1rem 0.85rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
  cursor: pointer;
  /* grid style */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.task-card:focus-visible {
    outline: 3px dashed var(--attention-color); 
    outline-offset: 3px; 
}

.task-status {
  text-transform: uppercase;
  font-size: 0.645rem;
  font-weight: 700;
  padding:  0.35rem 0.75rem;
  border-radius: 0.75rem;
  display: inline-block;
}

.task-title {
  margin-left: 0.5rem;
}

.task-description-icon {
  padding-left: 10px;
}

.task-due-date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1; /* Takes up available space */
  justify-content: center; 
}


.edit-task, .delete-task {
  font-size: smaller;
}

.delete-task{
  background-color: var(--danger-color);
}

/* Specific focus states for edit & delete buttons */
.edit-task:focus-visible {
  outline: 3px dashed var(--primary-color);
  box-shadow: 0 0 10px rgba(21, 101, 192, 0.5);
}

.delete-task:focus-visible {
  outline: 3px dashed var(--danger-color);
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
}

/* Task Overdue styles */

.overdue {
  background-color: var(--danger-color) !important;
  color: f0f0f0 !important; 
  border-left: 5px solid #8b0000; 
}

.overdue .delete-task {
  background-color: #f0f0f0 !important; 
  color: var(--danger-color) !important; 
}
.overdue .delete-task:focus {
  outline: 3px dashed var(--text-color);
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
}


/* Grid item styles */

.status-box {
  grid-column: 1;
  grid-row: 1;
}
.date-box {
  grid-column: 2;
  grid-row: 1;
}
.title-box{
  grid-column: 1 / span 2;
  grid-row: 2;
}
.edit-box {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
}
.delete-box {
  grid-column: 3;
  grid-row: 2;
  justify-self: right;
}


/* status classes */

.status-todo {
  background-color: var(--attention-color); /* Amber */
  color: var(--text-color);
}

.status-in-progress {
  background-color: var(--primary-color); /* Lapis Lazuli */
  color: white;
}

.status-done {
  background-color: var(--success-color); /* Green */
  color: var(--text-color);
}

.status-unknown {
  background-color: var(--background-color);
  color: var(--text-color);
}



/* -------------------------------
MODALS
---------------------------------- */
#create-task-form-container, #edit-task-form-container, .task-details-container, .confirmation-modal {
  position: fixed; /* Full-screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  /* initially hidden */
  opacity: 0;
  visibility: hidden;
}

#create-task-form-container.show, #edit-task-form-container.show, .task-details-container.show, .confirmation-modal.show {
  opacity: 1;
  visibility: visible;
}


#create-task-form, #edit-task-form, #details-modal-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}


/* Form input styles */

input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-size: 0.9rem;
}

textarea {
  height: 100px;
}

.form-item, .details-item {
  padding: 0.3rem 1rem;
}


input:focus, select:focus, textarea:focus {
  border-color: var(--attention-color);
}


/* Error border for required fields */
.error-border {
  border-left: 4px solid var(--danger-color);
  background-color: #efaca5;
}

.error-message {
  color: var(--danger-color);
  font-size: small;
  margin: 0;
  display: block;
}


/* Form Buttons */


#close-create-form, #close-edit-form, #close-confirm-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #555;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  box-shadow: none;
  margin: 0;
  
}

#close-create-form:hover, #close-edit-form:hover, #close-details-modal:hover, #close-confirm-modal:hover{
  color: #000;
}

#close-create-form:focus, #close-edit-form:focus, #close-details-modal:focus, #close-confirm-modal:focus{
  outline: 3px dashed var(--attention-color); 
  outline-offset: 3px; 
}

/* Details Modal */

#close-details-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
  box-shadow: none;
}

#details-footer, .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#details-footer > :first-child {
  margin-right: 1rem;
}

/* -------------------------------
CONFIRMATION MODAL
---------------------------------- */


.confirm-modal-content {
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  position: relative;
  font-size: 1rem;
  text-align: left;
  animation: fadeIn 0.3s ease-out;
}

.modal-header, .modal-body {
  padding: 1rem;
  border-bottom:  1px solid #ccc;;
}

.modal-body {
  min-height: 100px;
}

.modal-footer {
  gap: 1rem;
  padding: 1rem;
}

/* -------------------------------
TOAST NOTIFICATION
Code from: https://www.geeksforgeeks.org/how-to-make-a-toast-notification-in-html-css-and-javascript/
---------------------------------- */

.toast-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-icon {
  padding: 0.35rem 0.5rem;
  font-size: 1.3rem;
}

.toast-message {
  flex: 1;
  font-size: 0.9rem;
  color: #000000;
  padding: 0.5rem;
}

.toast {
  position: fixed;
  top: 25px;
  right: 25px;
  max-width: 300px;
  background: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  box-shadow: -1px 1px 10px
      rgba(0, 0, 0, 0.3);
  z-index: 1023;
  animation: slideInRight 0.3s
          ease-in-out forwards,
      fadeOut 0.5s ease-in-out
          forwards 3s;
  transform: translateX(110%);
}

.toast.closing {
  animation: slideOutRight 0.5s
      ease-in-out forwards;
}

.toast-progress {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #b7b7b7;
  animation: toastProgress 3s
      ease-in-out forwards;
}

.toast.toast-success {
  background: #95eab8;
}

.toast.toast-success .toast-progress {
  background-color: var(--success-color);
}

.toast.toast-danger {
  background: #efaca5;
}

.toast.toast-danger .toast-progress {
  background-color: var(--danger-color);
}

.toast.toast-info {
  background: #bddaed;
}

.toast.toast-info .toast-progress {
  background-color: var(--primary-color);
}

.toast.toast-warning {
  background: #ead994;
}

.toast.toast-warning .toast-progress {
  background-color: var(--attention-color);
}

.toast-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
  box-shadow: none;
}

@keyframes slideInRight {
  0% {
      transform: translateX(110%);
  }

  75% {
      transform: translateX(-10%);
  }

  100% {
      transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
      transform: translateX(0%);
  }

  25% {
      transform: translateX(-10%);
  }

  100% {
      transform: translateX(110%);
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes toastProgress {
  0% {
      width: 100%;
  }

  100% {
      width: 0%;
  }
}


/* -------------------------------
  MEDIA QUERY - TABLET (min-width: 768px)
---------------------------------- */

@media screen and (min-width: 768px) {
  /*navigation*/
  #nav-toggle-label {
    display: none; /* Hide hamburger menu */
}

.nav-menu-list {
    display: flex; /* Show nav items inline */
    position: static;
    width: auto;
    justify-content: flex-end;
    box-shadow: none;
    background-color: transparent;
}

.nav-menu-list > li {
    display: inline-block;
    margin-right: 15px;
}

  /*main*/
  #content-container {
    width: 700px;
    margin: 0 auto;
  }

  /*Modal*/
  #create-task-form, #edit-task-form, #details-modal-content, .confirm-modal-content {
    width: 95%;
    max-width: 400px;
  }
  
  /* Task Card  */
  
  .task-card {
    font-size: large;
    grid-template-columns: 3fr 1fr 1fr;
  }
  
  .task-status {
    font-size: 0.8rem;
  }
}

/* -------------------------------
MEDIA QUERY - LARGE SCREEN (min-width: 992px)
---------------------------------- */


@media screen and (min-width: 992px) {
    /* Navbar */
    nav .navbar-branding {
      display: inline-block;
    }  
  
  /*main*/
  #content-container{
    margin: 0 auto;
  }
  
  /* Task Card  */

  .task-card {
    grid-template-columns: 4fr 1fr 1fr;
  }
 
  .task-status {
    font-size: 1rem;
  }

}

/* -------------------------------
   MEDIA QUERY - XL SCREEN (min-width: 1200px)
---------------------------------- */

@media screen and (min-width: 1200px) {
}