/* -------------------------------
  IMPORT FONTS
---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------
   CSS VARIABLES
---------------------------------- */
:root {
  --primary-color: #1359A0; /* Lapis Lazuli */
  --secondary-color: #1976D2; /* French Blue */
  --success-color: #4CAF50; /* Pigment Green */
  --attention-color: #FFC107; /* Amber */
  --danger-color: #F44336; /* Vermillion */
  --background-color: #F5F5F5; /* Light Gray */
  --text-color: #212121;  /* Dark Gray */
  --primary-font: "Inter", serif;
  --secondary-font: "Roboto", serif;
}

/* -------------------------------
   GENERAL STYLING
---------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/* -------------------------------
   HEADINGS
---------------------------------- */

 h1 {
  margin: 0;
  font-size: 1.8rem;
}

/* -------------------------------
   LAYOUT ELEMENTS
---------------------------------- */


/* -------------------------------
   LINK STYLING
---------------------------------- */
a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color); 
  transition: all 0.3s ease;
}

/*Active State*/
a:active {
  color: var(--success-color); 
  border-bottom: 2px solid var(--success-color);
}

/*Hover State*/
a:hover {
  color: var(--secondary-color); 
  border-bottom: 2px solid var(--secondary-color); 
}

/*Focus State*/
a:focus {
  outline: 3px dashed var(--attention-color); /* Highlight focus with dashed outline */
  outline-offset: 3px; /* Add spacing between text and outline */
}

/* -------------------------------
   BUTTONS
---------------------------------- */

button {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color); 
}

/* Hover States */

button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

/* Focus States */

button:focus {
  outline: none; 
  transform: translateY(-1px); 
}

.btn-primary:focus {
  box-shadow: 0 0 10px 4px rgba(25, 118, 210, 0.5); 
  /* Glow effect inspired by https://stackoverflow.com/questions/59502714/add-soft-glow-on-focus-to-input */
}

/* Active States */

button:active{
  transform: scale(0.98);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.btn-primary:active {
  background-color: var(--success-color);
}

/* Disabled States */

.btn-primary:disabled {
  background-color: #BDBDBD; 
  color: #FFFFFF; 
  cursor: not-allowed; 
  box-shadow: none; 
  opacity: 0.6; 
}



/* -------------------------------
   UTILITY CLASSES
---------------------------------- */

/* -------------------------------
   NAVIGATION
---------------------------------- */
nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  height: 60px;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

nav > ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

nav li {
  display: inline; /* Makes list items inline elements */
  margin-right: 10px; 
}

.navbar-branding {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Nav Links */
nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 2rem;
}
nav a:hover {
border-bottom: none;
}

/* -------------------------------
  TASKS HEADING
---------------------------------- */

#task-heading-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

#progress-container {
  flex: 1;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 15px;
}

#progress-bar {
  width: 0%; 
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease-in-out;
}

.btn-round {
  border-radius: 50%;
}




/* -------------------------------
  MEDIA QUERY - TABLET (min-width: 768px)
---------------------------------- */

@media screen and (min-width: 768px) {
 

}

/* -------------------------------
   MEDIA QUERY - LARGE SCREEN (min-width: 992px)
---------------------------------- */

@media screen and (min-width: 992px) {

}

/* -------------------------------
   MEDIA QUERY - XL SCREEN (min-width: 1200px)
---------------------------------- */

@media screen and (min-width: 1200px) {

}