/* -------------------------------
  IMPORT FONTS
---------------------------------- */

/* -------------------------------
   CSS VARIABLES
---------------------------------- */
/* :root {
  --primary-darker: #055276;
  --primary-normal: #077bb0;
  --primary-light: #b3e5fc;
  --seconday-darker: #19381b;
  --secondary-normal: #337136;
  --secondary-light: #81c784;
  --primary-font: "Lexend", Arial, sans-serif;
  --secondary-font: "Roboto Slab", Georgia, serif;
  --text-color: #4f4f4f;
} */

/* -------------------------------
   GENERAL STYLING
---------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/* -------------------------------
   HEADINGS
---------------------------------- */

 h1 {
  margin: 0;
  font-size: 1.8rem;
}

/* -------------------------------
   LAYOUT ELEMENTS
---------------------------------- */


/* -------------------------------
   LINK STYLING
---------------------------------- */


/* -------------------------------
   BUTTONS
---------------------------------- */

.btn {
  /* display: inline-block; */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: all 0.15s ease-in-out;
  background-color: #76c7c0; 
  color: #fff; 
}

/* Hover State */
.btn:hover {
  background-color: #5fb0a9; 
  border-color: #5fa9a3; 
}

/* Focus State */
.btn:focus {
  outline: none; 
  box-shadow: 0 0 0 0.2rem rgba(118, 199, 192, 0.5); 
  /* Focus glow adapted from https://stackoverflow.com/questions/59502714/add-soft-glow-on-focus-to-input */
}

/* Active State */
.btn:active {
  background-color: #4e9c95; 
  border-color: #478e88; 
  box-shadow: none; /* No focus glow */
}



/* -------------------------------
   UTILITY CLASSES
---------------------------------- */

/* -------------------------------
   NAVIGATION
---------------------------------- */
nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  height: 60px;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: inherit;
}
nav > ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}
nav li {
  display: inline; /* Makes list items inline elements */
  margin-right: 10px; 
}


/* -------------------------------
  TASKS HEADING
---------------------------------- */

#task-heading-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

#progress-container {
  flex: 1;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 15px;
}

#progress-bar {
  width: 0%; 
  height: 100%;
  background-color: #76c7c0;
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease-in-out;
}

.btn-round {
  border-radius: 50%;
}




/* -------------------------------
  MEDIA QUERY - TABLET (min-width: 768px)
---------------------------------- */

@media screen and (min-width: 768px) {
 

}

/* -------------------------------
   MEDIA QUERY - LARGE SCREEN (min-width: 992px)
---------------------------------- */

@media screen and (min-width: 992px) {

}

/* -------------------------------
   MEDIA QUERY - XL SCREEN (min-width: 1200px)
---------------------------------- */

@media screen and (min-width: 1200px) {

}