/* -------------------------------
TASKS HEADING
---------------------------------- */


#task-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  /* make sticky */
  position: sticky;
  top: 58px; 
  background-color: white; 
  z-index: 1; 
}

/* -------------------------------
TASKS CARD
---------------------------------- */

#tasks-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Add scrolling */
  overflow-y: auto; 
  scroll-padding-top: 5rem; 
}


.flex-tasks-container {
  min-height: 60vh;
}

.task-card {
  background-color: #22272B;
  color: var(--background-color);
  font-size: medium;
  padding:  1rem 0.85rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
  cursor: pointer;
  min-height: 100px;
  min-width: 300px;
  /* grid style */
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.task-card:focus-visible, #tasks-container:focus-visible {
  outline: 3px dashed var(--attention-color); 
  outline-offset: 3px; 
}

.task-status, .select-status  {
  font-size: 0.75rem;
  max-width: 180px;
}

.task-status {
  text-transform: uppercase;
  font-weight: 700;
  padding:  0.35rem 0.75rem;
  border-radius: 0.75rem;
  display: inline-block;
}

.select-status {
  padding: 0.35rem 0.75rem;
  font-size: 0.645rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--background-color);
  border-radius: 0.75rem;
  background-color: var(--background-color);
  color: var(--text-color);  
  cursor: pointer;
}

.task-status:focus-visible, .select-status:focus-visible {
  outline: 3px solid var(--attention-color);
  outline-offset: 3px;
}

select.select-status:focus-visible {
  border: none; 
}

.task-title {
  margin-left: 0.5rem;
}

.task-description-icon {
  padding-left: 10px;
}

.task-due-date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1; /* Takes up available space */
  justify-content: center; 
}

.task-due-date-text {
  font-size: 0.75rem;
}

.edit-task, .delete-task {
  font-size: smaller;
}

.delete-task{
  background-color: var(--danger-color);
  color: var(--background-color);
}


/* Specific focus states for edit & delete buttons */
.edit-task:focus-visible {
  outline: 3px dashed var(--primary-color);
  box-shadow: 0 0 10px rgba(21, 101, 192, 0.5);
}

.delete-task:focus-visible {
  outline: 3px dashed var(--danger-color);
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
}

/* Task Overdue styles */

.overdue {
  background-color: var(--danger-color) !important;
  color: #f0f0f0  !important; 
  border-left: 5px solid #8b0000; 
}

.overdue .delete-task {
  background-color: var(--text-color) !important; 
  color: var(--danger-color) !important; 
}
.overdue .delete-task:focus-visible {
  outline: 3px dashed var(--text-color);
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
}



/* Grid item styles */

.status-box {
  grid-column: 1;
  grid-row: 1;
}
.date-box {
  grid-column: 2;
  grid-row: 1;
}
.title-box{
  grid-column: 1 / span 2;
  grid-row: 2;
}
.edit-box {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
}
.delete-box {
  grid-column: 3;
  grid-row: 2;
  justify-self: right;
}


/* status classes */

.status-todo {
  background-color: var(--attention-color); /* Amber */
  color: var(--text-color);
}

.status-in-progress {
  background-color: var(--primary-color); /* Lapis Lazuli */
  color: white;
}

.status-done {
  background-color: var(--success-color); /* Green */
  color: var(--text-color);
}

.status-unknown {
  background-color: var(--background-color);
  color: var(--text-color);
}



/* -------------------------------
MODALS
---------------------------------- */
#create-task-form-container, #edit-task-form-container, .task-details-container, .confirmation-modal {
  position: fixed; /* Full-screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  /* initially hidden */
  opacity: 0;
  visibility: hidden;
}

#create-task-form-container.show, #edit-task-form-container.show, .task-details-container.show, .confirmation-modal.show {
  opacity: 1;
  visibility: visible;
}


#create-task-form, #edit-task-form, #details-modal-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#details-modal-content h2 {
  width: 85%;
}
/* Form input styles */

input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus, select:focus, textarea:focus {
 outline: none; 
 border: 2px solid var(--primary-color); 
} 


label {
  font-size: 0.9rem;
}

textarea {
  height: 100px;
}

.form-item, .details-item {
  padding: 0.3rem 1rem;
}

/* Error border for required fields */
.error-border {
  border-left: 4px solid var(--danger-color);
  background-color: #efaca5;
}

.error-message {
  color: var(--danger-color);
  font-size: small;
  margin: 0;
  display: block;
}


/* Form Buttons */


#close-create-form, #close-edit-form, #close-confirm-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #555;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  box-shadow: none;
  margin: 0;
  
}

#close-create-form:hover, #close-edit-form:hover, #close-details-modal:hover, #close-confirm-modal:hover{
  color: #000;
}

#close-create-form:focus, #close-edit-form:focus, #close-details-modal:focus, #close-confirm-modal:focus{
  transform: translateY(-2px);
}

#close-create-form:focus-visible, #close-edit-form:focus-visible, #close-details-modal:focus-visible, #close-confirm-modal:focus-visible{
  outline: 3px dashed var(--attention-color); 
  outline-offset: 3px; 
}

/* Details Modal */

#close-details-modal {
  position: absolute;
  top: 5px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
  box-shadow: none;
}

#details-footer, .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#details-footer > :first-child {
  margin-right: 1rem;
}

/* -------------------------------
CONFIRMATION MODAL
---------------------------------- */


.confirm-modal-content {
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  position: relative;
  font-size: 1rem;
  text-align: left;
  animation: fadeIn 0.3s ease-out;
}

.modal-header, .modal-body {
  padding: 1rem;
  border-bottom:  1px solid #ccc;;
}

.modal-body {
  min-height: 100px;
}

.modal-footer {
  gap: 1rem;
  padding: 1rem;
}


/* -------------------------------
  MEDIA QUERY - TABLET (min-width: 768px)
---------------------------------- */

@media screen and (min-width: 768px) {

.nav-menu-list {
    display: flex; /* Show nav items inline */
    position: static;
    width: auto;
    justify-content: flex-end;
    box-shadow: none;
    background-color: transparent;
}

.nav-menu-list > li {
    display: inline-block;
    margin-right: 15px;
}

  /*main*/
  #content-container {
    width: 700px;
    height: 100vh;
    min-height: 500px;
    margin: 0 auto;
  }

  /*Modal*/
  #create-task-form, #edit-task-form, #details-modal-content, .confirm-modal-content {
    width: 95%;
    max-width: 400px;
  }
  
  /* Task Card  */
  
  .task-card {
    grid-template-columns: 3fr 1fr 1fr;
  }
  .task-status, .select-status, .task-due-date-text   {
    font-size: 1rem;
  }

}

/* -------------------------------
MEDIA QUERY - LARGE SCREEN (min-width: 992px)
---------------------------------- */


@media screen and (min-width: 992px) {

  /*main*/
  #content-container{
    margin: 0 auto;
  }
  
  /* Task Card  */

  .task-card {
    grid-template-columns: 4fr 1fr 1fr;
  }
 
  
  
  .date-box {
    min-width: 110px;
  }
}

